<app-cl-accueil-title></app-cl-accueil-title>
<app-cl-accueil-button></app-cl-accueil-button>

<div class="table-responsive-sm">

    <table class="table border border-info">
        <thead class="text-center bg-info text-light">
            <tr>
                <th>#</th>
                <th>Société</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Surnom</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let cl of listeContact">
                <td>{{cl.contactId}}</td>
                <td>{{cl.societe}}</td>
                <td>{{cl.nom}}</td>
                <td>{{cl.prenom}} </td>
                <td>{{cl.surnom}}</td>
                <td>{{cl.rue +' '+cl.num+' - '+cl.codePostal+' '+cl.ville}}</td>
                <td class="">
                    <a class="bi bi-search" [routerLink]="[cl.contactId]"></a>&nbsp;
                    <a class="bi bi-pencil-square" [routerLink]="['./edit/'+cl.contactId]"></a>&nbsp;
                    <a class="bi bi-trash" (click)="delete(cl.contactId)"></a>&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>
