<div class="pt-3 pb-2 mb-3 border-bottom">

    <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-outline-dark" routerLink="/caisse">Encoder caisse</button>
        <button type="button" class="btn btn-outline-dark" routerLink="/facture">Nouvelle Facture</button>
        <button type="button" class="btn btn-outline-dark" routerLink="/produit">Nouveau Client</button>
        <button type="button" class="btn btn-outline-dark" routerLink="/client">Nouveau Produit</button>
        <button type="button" class="btn btn-outline-dark" routerLink="/fournisseur">Nouveau Fournisseur</button>
    </div>
</div>
