<div class="pt-3 pb-2 mb-3 border-bottom">

    <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-outline-dark" routerLink="#">Encoder caisse</button>
        <button type="button" class="btn btn-outline-dark" routerLink="#">Nouvelle Facture</button>
        <button type="button" class="btn btn-outline-dark" routerLink="../client/new">Nouveau Client</button>
        <button type="button" class="btn btn-outline-dark" routerLink="#">Nouveau Produit</button>
        <button type="button" class="btn btn-outline-dark" routerLink="#">Nouveau Fournisseur</button>
    </div>
</div>
