<div>
    <div>
        Id :{{currentContact.contactId}} <br />
        Prenom : 
            <input [(ngModel)]="currentContact.prenom" placeholder="name" readonly/>
          <br />
        Nom : <input [(ngModel)]="currentContact.nom" placeholder="name" readonly/>
        <br/>
    </div>
</div>

<!-- <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 d-flex justify-content-around">
      <button type="button" class="btn btn-primary">Modifier le client</button> 
      <button type="button" class="btn btn-warning">Supprimer le client</button>
      <button type="button" class="btn btn-outline-secondary" routerLink="../../client">Annuler</button>
    </div>
    </div> -->