<h2 class="text-danger mb-4">Factures impayées</h2>
    <div class="table-responsive tablescroll">
        
        <table class="table border border-danger">
            <thead class="text-center">
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Montant HTVA</th>
                    <th>Total TTC</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>001</td>
                    <td>21/01/2021</td>
                    <td>ISASKOU</td>
                    <td>12,87€</td>
                    <td>14,00€</td>
                    <td>
                        <i class="bi bi-search"></i>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>21/01/2021</td>
                    <td>ISASKOU</td>
                    <td>12,87€</td>
                    <td>14,00€</td>
                    <td>
                        <i class="bi bi-search"></i>
                    </td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>21/01/2021</td>
                    <td>ISASKOU</td>
                    <td>12,87€</td>
                    <td>14,00€</td>
                    <td>
                        <i class="bi bi-search"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
