<div>
    <h2 class="text-info">GetAll</h2>
</div>

<div class="table-responsive-sm tablescroll">

    <table class="table border border-info">
        <thead class="text-center bg-info text-light">
            <tr>
                <th>#</th>
                <th>Société</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let cl of listeContact">
                <td>{{cl.contactId}}</td>
                <td>{{cl.societe}}</td>
                <td>{{cl.nom}}</td>
                <td>{{cl.prenom}} </td>
                <td>{{cl.rue +' '+cl.num+' - '+cl.codePostal+' '+cl.ville}}</td>
                <td class="">
                    <a class="bi bi-search" [routerLink]="[cl.contactId]"></a>&nbsp;
                    <a class="bi bi-pencil-square" [routerLink]="['./edit/'+cl.contactId]"></a>&nbsp;
                    <a class="bi bi-trash" (click)="delete(cl.contactId)"></a>&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pt-3 pb-2 mb-3">
    <div class="float-sm-right">
        <button type="button" class="btn btn-secondary btn-sm" routerLink="./getall">Voir tous les clients</button>
    </div>
</div>
