<div>
    <h2 class="text-info">GetAll</h2>
    <span class="text-secondary">(max 10 dernières)</span>
</div>
<div class="table-responsive tablescroll">

    <table class="table border border-info">
        <thead class="text-center bg-info text-light">
            <tr>
                <th>#</th>
                <th>Société</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let cl of clients">
                <td>{{cl.id}}</td>
                <td>{{cl.societe}}</td>
                <td>{{cl.nom}}</td>
                <td>{{cl.prenom}} €</td>
                <td>{{cl.adresse}} €</td>
                <td>
                    <i class="bi bi-search"></i>&nbsp;
                    <i class="bi bi-pencil-square"></i>&nbsp;
                    <i class="bi bi-trash"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pt-3 pb-2 mb-3">
    <div class="float-sm-right">
        <button type="button" class="btn btn-secondary btn-sm" routerLink="#">Voir tous les clients</button>
    </div>
</div>
